/* Neutrals */
$black: #07020D;
$lightGray: #DBDBDB;
$white: #f9faf9;

/* Coolors Exported Palette - coolors.co/19647e-a44a3f-e8871b-fad129-989e28-2a451a-07020d */
$blue: #19647E;
$red: #A44A3F;
$orange: #E8871B;
$yellow: #FAD129;
$citron: #989E28;
$green: #2A451A;
$dope: #dbd1b3;

$text: $black;

$desktopMinimum: 992px;
$veryTinyMax: 576px;

$regularFont: 'Open sans', sans-serif;
$headingFont: 'Fira Code', monospace;
